.notlogin-kakao-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notlogin-problem-text {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.notlogin-text {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.notlogin-container {
  display: grid;
  grid-template-rows: 1.5fr 1fr 1.5fr 0.7fr 1.3fr 1fr;
  gap: 10px;
  height: 100vh;
}

/* .kakao-button {
  width: 298px;
  height: 42px;
  color: #391b1b;
  font-weight: bold;
  font-size: 16px;
  background-color: #fee500;
  border: none;
  border-radius: 10px;
} */
