.header-history {
  display: flex;
  align-items: center;
  padding: 16px 16px 32px 16px;
}

.history-text {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(60, 57, 57);
  text-align: center;
}
.history-date {
  font-size: 12px;
  font-weight: bold; /* 글씨 굵게 */
  color: #333;
  margin-bottom: 4px; /* 날짜와 세부사항 사이의 간격 */
}
.history-meeter {
  font-size: 10px;
  font-weight: bold;
  color: #777;
}
.history-details {
  font-size: 8px;
  font-weight: bold;
  color: #777;
}

.history-container {
  display: grid;
  grid-template-rows: 7fr;
  gap: 20px;
  padding: 2px 20px 20px 20px;

  max-height: 75vh;
}

.history-list {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 0.2px solid rgb(213, 213, 213);
  overflow-y: auto;
}

.history-item {
  background: #ffffff; /* 배경색 변경 */
  border-radius: 20px; /* 더 커진 둥근 모서리 */
  padding: 10px 10px 10px 10px; /* 패딩 조정 */
  margin-bottom: 16px; /* 마진 조정 */
  /* display: flex;
  align-items: center;  */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.history-item p {
  margin: 0;
  color: #333333;
}
.middle-sort {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* 색상은 JS 코드에서 인라인 스타일로 설정 */
}
.history-navigate > span {
  font-size: 24px; /* 화살표 크기 조정 */
  color: #ccc; /* 화살표 색상 조정 */
}
.history-info {
  display: flex;
  align-items: center;
}
.history-nickname {
  margin-left: 12px;
  font-weight: bold;
}

.report-button {
  font-size: 9px;
  width: 50px;
  height: 20px;
  background-color: #444444;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  border: 0.2px solid rgb(213, 213, 213);
}

.button-select-delete-locate {
  display: flex;
  justify-content: flex-end;
  margin-right: 9%; /* 필요에 따라 조정 */
}
.select-button {
  font-size: 9px;
  width: 35px;
  height: 20px;
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border: none;
}

.delete-all-button {
  font-size: 9px;
  width: 55px;
  height: 20px;
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border: none;
}
/* 
  .explain-box {
    background: #f9f9f9;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  .path-box {
    background: #f9f9f9;
    border-radius: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  
  .need-hisoty-text {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(60, 57, 57);
    text-align: center;
  }
  
  .need-hisoty-text2 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(60, 57, 57);
    text-align: center;
  }
  
  .path-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(60, 57, 57);
  }
  
  .path-icon {
    display: block;
    margin: auto;
  } */
